body {
    margin: 40px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 60px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #222;
    color: #ddd;
}

.tweet__background {
    position: absolute;
    background-image: url('');
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
    height: 100%; width: 100%;
    -webkit-filter: brightness(60%);
    margin: -40px;
}

.stats {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.tweet__text {
  font-size: 120%;
}

.tweet__text span {
  float: left;
}

.tweet__text .username {
  color: #DD6668;
}

.tweet__text .hashtag {
  color: #8DB7E0;
}

.tweet__text .url {
  color: #C5D064;
}

.tweet__user, .tweet__time, .tweet__user_profile_image {
  background: #181818;
}

.tweet__user_profile_image {
  position: absolute;
  width: 96px;
  height: 96px;
  bottom: 30px;
  left: 30px;
  padding: 15px;
  display: none;
}

.tweet__user {
  position: absolute;
  padding: 0 15px;
  bottom: 82px;
  height: 74px;
  left: 164px;
  display: none;
}

.tweet__user .via {
  color: #666;
  font-size: 50%;
  padding-left: 20px;
}

.tweet__time {
  position: absolute;
  padding: 0 5px;
  bottom: 30px;
  height: 46px;
  color: #666;
  font-size: 60%;
  left: 164px;
  display: none;
}

.stats {
  font-size: 30%;
  opacity: 0.3;
}
